:root {
	--main-accent-color: #2196f3;
	--logo-black-color: #000000;
	--main-black-color: #212121;
	--main-white-color: #ffffff;
	--header-contacts-list-color: #757575;
	--footer-address-link-color: rgba(255, 255, 255, 0.6);
	--background-color-hero: #2f303a;
	--backgroung-color-hero-button: #2196f3;
	--background-color-our-work: #f5f4fa;
	--card-set-gap: 30px;
	--card-border: #eeeeee;
}

body {
	font-family: Roboto, sans-serif;
	color: var(--main-black-color);
	font-size: 14px;
	letter-spacing: 0.03em;
	background-color: var(--main-white-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
	padding: 0;
	margin: 0;
}
img {
	display: block;
	max-width: 100%;
}
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.section {
	padding-top: 94px;
	padding-bottom: 94px;
}
.container {
	width: 1200px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.link {
	text-decoration: none;
	color: inherit;
}
.list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.button {
	font-family: inherit;
	cursor: pointer;
}
.header {
	border-bottom: 1px solid #ececec;
}
.header-body {
	display: flex;
	align-items: center;
}
.header-link {
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;
}
.header-nav {
	display: flex;
	align-items: center;
}
.header-logo {
	display: block;
	margin-right: 93px;
	font-family: Raleway;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
}
.header-logo-web {
	color: var(--main-accent-color);
}
.header-logo-studio {
	color: var(--logo-black-color);
}
.header-nav-list {
	display: flex;
	margin-right: 331px;
}

.header-nav-list-item {
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
}
.header-nav-list-item:not(:last-child) {
	margin-right: 50px;
}
.header-nav-list-item:hover,
.header-nav-list-item:focus {
	color: var(--main-accent-color);
}

.link.current {
	color: var(--main-accent-color);
}
.header-contacts-list {
	display: flex;
}

.header-contacts-list-item {
	color: var(--header-contacts-list-color);

	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
}
.header-contacts-list-item:not(:last-child) {
	margin-right: 50px;
}
.header-contacts-list-item:hover,
.header-contacts-list-item:focus {
	color: var(--main-accent-color);
}
.hero {
	background-color: var(--background-color-hero);
	text-align: center;
	padding-top: 200px;
	padding-bottom: 200px;
}
.hero-title {
	color: var(--main-white-color);

	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-transform: uppercase;

	margin-bottom: 30px;
}
.hero-button {
	color: var(--main-white-color);
	background-color: var(--backgroung-color-hero-button);

	font-weight: bold;
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.06em;
	border: none;
	padding: 10px 32px;

	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
}
/* .hero-button:hover,
.hero-button:focus {
	background-color: var(--main-white-color);
	color: var(--main-accent-color);
} */
.section-title {
	margin-bottom: 50px;

	font-size: 36px;
	line-height: 1.16;
	text-align: center;
}
/* .benefits {
	background-color: var(--main-white-color);
} */
.benefits-list {
	display: flex;
}
.benefits-list-item {
	width: 270px;
}
.benefits-list-item:not(:last-child) {
	margin-right: 30px;
}
.benefits-title {
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.benefits-text {
	color: var(--header-contacts-list-color);

	line-height: 1.71;
}
.our-work {
	padding-top: 0;
}
.our-work-list {
	display: flex;
}
.our-work-list-item:not(:last-child) {
	margin-right: 30px;
}
/* .our-work-list-img {
	display: block;
} */
.our-team {
	background-color: var(--background-color-our-work);
}
.our-team .section-title {
	margin-bottom: 50px;
}
.our-team-list {
	display: flex;
	justify-content: space-between;
}

.our-team-card {
	background-color: var(--main-white-color);

	text-align: center;

	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}
.our-team-card:not(:last-child) {
	margin-right: 30px;
}

.our-team-card-content {
	padding-top: 30px;
	padding-bottom: 30px;
}
.our-team-title {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;

	margin-bottom: 10px;
}
.our-team-text {
	color: var(--header-contacts-list-color);

	font-size: 16px;
	line-height: 1.19;
}
.footer {
	background-color: var(--background-color-hero);
	padding-top: 60px;
	padding-bottom: 60px;
}
.footer-logo {
	display: block;
	margin-bottom: 20px;
	font-family: Raleway;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
}
.footer-logo-web {
	color: var(--main-accent-color);
}
.footer-logo-studio {
	color: var(--main-white-color);
}
/* .footer-adress {
}
.footer-adress-list {
} */
.footer-adress-list-item {
	color: var(--main-white-color);

	font-style: normal;
	line-height: 1.71;
}
.footer-adress-list-item:not(:last-child) {
	margin-bottom: 9px;
}
.footer-adress-list-item .link {
	color: var(--footer-address-link-color);
}

.footer-adress-list-item .link:hover,
.footer-adress-list-item .link:focus {
	color: var(--main-accent-color);
}
/* Portfolio */
/* .portfolio {
	background-color: var(--main-white-color);
} */
.portfolio-button-list {
	display: flex;
	margin-bottom: 50px;
	justify-content: center;
}
.portfolio-button-list-item:not(:last-child) {
	margin-right: 8px;
}
.portfolio-button-list-item-button {
	background-color: var(--background-color-our-work);

	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;

	padding: 6px 22px;
	border-radius: 4px;
	border-color: transparent;
}
.portfolio-button-list-item-button:hover,
.portfolio-button-list-item-button:focus {
	background-color: var(--main-accent-color);
	color: var(--main-white-color);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
		0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-card-list {
	display: flex;
	flex-wrap: wrap;
	margin-right: calc(-1 * var(--card-set-gap));
	margin-bottom: calc(-1 * var(--card-set-gap));
}
.portfolio-card-list-item {
	flex-basis: calc(100% / 3 - var(--card-set-gap));
	margin-right: var(--card-set-gap);
	margin-bottom: var(--card-set-gap);
}
.portfolio-card-list-content {
	padding: 20px 24px;
	border-bottom: var(--card-border) solid 1px;
	border-left: var(--card-border) solid 1px;
	border-right: var(--card-border) solid 1px;
}
.porfolio-card-list-title {
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
}
.porfolio-card-list-text {
	color: var(--header-contacts-list-color);

	font-size: 16px;
	line-height: 1.87;
}
